<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @invoice_template.name %>
</p>


<%= link_to 'Edit', edit_invoice_template_path(@invoice_template) %> |
<%= link_to 'Back', invoice_templates_path %>
