<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @purchase_template.name %>
</p>


<%= link_to 'Edit', edit_purchase_template_path(@purchase_template) %> |
<%= link_to 'Back', purchase_templates_path %>
